.container {}
.header {
    text-align: center;
    padding: 18px;
}

img.resize {
    width:240px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.biography h3 {
    margin-left: 20px;
}
.biography p {
    margin-left: 40px;
    max-width: 75ch;
}

.csc h2 {
    margin-left: 20px;
}
.csc h3 {
    margin-left: 40px;
}
.csc h5 {
    margin-left: 60px;
}

.definition + p {
    margin-left: 80px;
    max-width: 65ch;
}

.sources h2 {
    margin-left: 20px;
}
.sources ul {
    margin-left: 40px;
}

table, th, tr, td {
    border: 1px  solid black;
    border-collapse: collapse;
    padding: 10px 80px;
}

body, html{
    color: #ffaf40;
    background-color: black;
    margin: 0;
    opacity: 0.95;
    font-family: 'Inconsolata', serif;
    margin-bottom: 100px;
    clear: both;
}

h1 {
    margin-top: 10px;
}

th[colspan] {
    text-align: center;
}
