.container {}
.header {
    text-align: center;
    padding: 18px;
}

img.resize {
    width:240px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

p.biography {
    margin-left: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e17055;
    color: white;
    font-size: 13px;
    font-style: italic;
    padding: 12px;
    text-align: center;
}

table, th, tr, td {
    border: 1px  solid black;
    border-collapse: collapse;
    padding: 120px;
}

body, html{
    color: #ffaf40;
    background-color: black;
    margin: 0;
    opacity: 0.95;
    font-family: 'Inconsolata', serif;
    margin-bottom: 100px;
    clear: both;
}

h1 {
    margin-top: 10px;
}

h3 {
    margin-left: 10px;
    color: #ff9f1a;
}


